<!DOCTYPE html>
<html>
    <head>
        <title>Clash of Clans War Stats</title>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <h1>Clash of Clans War Stats</h1>
        <div class="ClanSearch">
            <form action="/" method="post">
                <input typ="text" name="search1" placeholder="Search for a clan" required>
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="PlayerSearch">
            <form action="/" method="post">
                <input typ="text" name="search2" placeholder="Search for a player" required>
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="Results">
            <% if(clans != null) { %>
                <% clans.forEach(function(clan, index) { %>
                <a href="clan<%-clan.tag.substring(1, clan.tag.length)%>" class="clanBox">
                    <img src="<%- clan.badgeUrls.small %>" alt="<%- clan.name %>">
                    <h1><%- clan.name %></h1>
                    <p><%- clan.warLeague.name %></p>
                </a>
                <% })} %>
        </div>
    </body>
</html>