<!DOCTYPE html>
<html>
    <head>
        <title><%-clan.name%> information</title>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>
        <h1>Clash of Clans War Stats</h1>
        <div class="ClanSearch">
            <form action="/" method="post">
                <input typ="text" name="search1" placeholder="Search for a clan" required>
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="PlayerSearch">
            <form action="/" method="post">
                <input typ="text" name="search2" placeholder="Search for a player" required>
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="Results">
            <img src="<%-clan.badgeUrls.small%>">
            <h1><%-clan.name%></h1>
            <% if(clan.memberList != null) { %>
                <% clan.memberList.forEach(function(member, index) { %>
                <a href="player<%-member.tag.substring(1, clan.tag.length)%>" class="clanBox">
                    <p><%-index%>. <img src="<%-member.league.iconUrls.tiny%>">:<%- member.name%> - <%-member.role%></p>
                </a>
                <% })} %>
        </div>
    </body>
</html>